<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsReniecSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsReniecSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44319/wsReniec.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsReniecSoap" contract="srReniecFrm.wsReniecSoap"
                name="wsReniecSoap" />
        </client>
    </system.serviceModel>
</configuration>